#root {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  // padding-top: 10rem;
  text-align: center;
}

body {
  background-color: #2f2f2f;
  font-family: "Special Elite", system-ui;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #3b7f82;
}

a:hover {
  color: #f05a1b;
}

.mainH1 {
  font-family: "Special Elite";
  font-size: 5rem;
  color: #f05a1b;
  z-index: 50;
  text-shadow: 2px 2px 4px #00000080;
  // -webkit-text-stroke: 3px #FFF765;
}

  .mainH2 {
    font-family: 'Special Elite';
    font-size: 3rem;
    margin-top: 1rem;
    color: #f05a1b;
    z-index: 50;
    text-shadow: 2px 2px 4px #00000080;
    // -webkit-text-stroke: 2px #001011;
  }
  .mainH3 {
    font-family: 'Special Elite';
    // margin-top: 2rem;
    color: #3b7f82;
    z-index: 50;
    text-shadow: 2px 2px 4px #00000080;
    // -webkit-text-stroke: 2px #001011;
  }

  .secondaryH3 {
    font-family: 'Special Elite';
    color: #f05a1b;
    z-index: 50;
  }

  .tertiaryH3 {
    font-family: 'Special Elite';
    color: #f05a1b;
    z-index: 50;
    text-shadow: 2px 2px 4px #00000080;
  }

  .mainH4 {
    color: #3b7f82;
  }

.modal-mainH4 {
  background-color: #2f2f2f;
  font-family: "Special Elite";
  color: #ffffff;
  z-index: 50;
  text-shadow: 2px 2px 4px #00000080;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.secondaryH3 {
  font-family: "Special Elite";
  color: #f05a1b;
  z-index: 50;
}

.mainH4 {
  color: #3b7f82;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #97ce004a);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #97ce004a);
}

// .mainLogo {
//     margin-top: 8rem;
// }

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.navIcon {
  width: 1.9rem;
}

.custom-navbar {
  padding-bottom: 1rem;
}

.signUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.logout {
  font-size: 12px;
  text-decoration: none;
  color: #ffffff 0.65;
}

.logout:hover {
  color: #6ccff6;
}

// .Permanent Marker-regular {
//   font-family: "Permanent Marker", system-ui;
//   font-weight: 400;
//   font-style: normal;
// }

.navLink {
  // color: #f05a1b;
}

.custom-link {
  color: #f05a1b;
}

.custom-link:hover {
  color: #3b7f82;
}

.navLink:hover {
  color: #f05a1b;
}

.dropdownToggle:hover {
  color: #f05a1b;
}

.workoutButton {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
}

.dropdown-item:hover {
  background-color: #6c757d; /* Change to your desired highlight color */
}

.scrollable-cards-container {
  max-height: 400px; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.buttonContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.exerciseButton {
  width: 200px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  // margin-top: 10px;
}

.exerciseButton:hover {
  background-color: #97ce00;
}

.cardName {
  margin-bottom: 15px;
}

.generateButton:hover {
  background-color: #97ce00;
}

.recipeButton:hover {
  background-color: #97ce00;
}

.closeButton {
  background-color: #00000000;
  // color: #2f2f2f;
  position: absolute;
  top: 5px;
  left: 5px;
  width: "32px";
  height: 32px;
  border-radius: "50%";
  border: 0px;
}

.closeButton:hover {
  background-color: #4c4c4cc1;
}

.homeCard {
  max-width: 600px;
  margin: 0 auto;
}

// .workoutCardClosed {
//   margin: 1px auto; 
//   max-width: 700px; 
//   min-width: 350px;
//   max-height: 40px;
//   overflow-y: hidden;
//   text-align: left;
// }

.workoutCardClosed {
  margin: 1rem; 
  width: 220px; 
  width: "100%"; 
  height: 60px;
  overflow-y: hidden;
}

.workoutCardOpen {
  margin: 1rem; 
  width: 220px; 
  width: "100%"; 
  min-height: 180px;
  overflow-y: auto;
}

.deletePlan {
  max-width: 600px;
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
}



.consoleCard {
  // background-color: #2f2f2f;
  background-color: #1d1d1d;
  color: #ffffff;
  margin: 1rem; 
  width: 302px; 
  min-height: 128px;
  border: 0px;
  // border: 2px solid;
  // border-color: #4d4d4d;
  // box-shadow: 0 0 1px #ffffff, 0 0 2px #f05a1b, 0 0 4px #f05a1b, 0 0 8px #f05a1b;
  // box-shadow: 0 0 1px #2d2d2d, 0 0 2px #2d2d2d, 0 0 4px #000000, 0 0 8px #000000;
}

.groupCard {
  // background-color: #2f2f2f;
  background-color: #1d1d1d;
  color: #ffffff;
  margin: 2rem;
  width: 302px;
  min-height: 98px;
  border: 0px;
}

.consoleCardUl {
  text-decoration: none;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
}

.linkCard {
  margin: 2rem auto;
  width: 90%;
}

@media (max-width: 768px) {
  .mainH1 {
    font-size: 3rem; /* Adjust the font size for mobile devices */
  }
  .video-container {
    max-width: 100%;
  }
  .homeCard {
    max-width: 90%;
  }
  .generateButton {
    font-size: medium;
  }
  // .workoutCardClosed {
  //   margin: 2rem; 
  //   max-width: 300px; 
  //   width: "100%"; 
  //   max-height: 130px;
  //   overflow-y: hidden;
  // }
  .workoutCardOpen {
    margin: 2rem;
    max-width: 300px;
    width: "100%";
    max-height: 366px;
    overflow-y: auto;
  }
  .cardName {
    font-size: 16px;
    margin: 10px;
  }
  .varNameContainer {
    height: 42px;
  }
  .deletePlan {
    max-width: 300px;
  }
}

.video-thumbnail:hover .video-title {
  color: orange; /* Change title color to orange */
}

.video-thumbnail:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3); /* Add a light black overlay */
}
